* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0c0c0c;
    background-image: url(../Assets/topography.svg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    width: 100%;
    height: 7vh;
    background-color: rgb(158, 56, 56);
}

a {
    text-decoration: none;
    color: black;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrapper {
    margin: auto;
    width: 70vw;
    height: auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 600 30px "Arial";
    color: aliceblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.boxes {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: aqua;
    margin: 10px 50px;
}

.box .iconify {
    color: #fff;
    font-size: 170px;
}

.hand  {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hand:hover {
    background-color: aqua;
}

@media (max-width: 700px) {
    .hand  {
        width: 80px;
        height: 80px;
    }
}

.iconify {
    font-size: 70px;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
    padding: 20px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    padding: 20px;
}